.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.button {
  cursor: pointer;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
