.container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 10px;
  margin-bottom: 24px;
}

.select {
  width: 180px;
}

.selectItem {
  padding-left: 4px;
}



@media (max-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "search search"
      "type year";
  }

  .search {
    grid-area: search;
  }
  
  .type {
    grid-area: type;
  }
  
  .year {
    grid-area: year;
  }

  .select {
    width: 100%;
  }
}